# ---- GLOBAL ----
PROJECT_NAME=wg-client
TZ=Europe/Paris

# ---- DB SWITCH ----
DB_MODE=test            # test | prod

# ---- TEST DB (Docker) ----
DB_TEST_HOST=db
DB_TEST_PORT=3306
DB_TEST_NAME=tzserver
DB_TEST_USER=tzuser
DB_TEST_PASSWORD=tzpass
DB_TEST_ROOT_PASSWORD=supersecret_root

# ---- PROD DB (LAN) ----
DB_PROD_HOST=10.0.0.50
DB_PROD_PORT=3306
DB_PROD_NAME=tzserver
DB_PROD_USER=prod_user
DB_PROD_PASSWORD=change_me

# ---- REDIS (inside API_FATHER) ----
REDIS_URL=redis://api_father_redis:6379/0

# ---- WIREGUARD ----
WG_ADDRESS=10.8.0.2/32
WG_ENDPOINT=178.209.119.86:51820
WG_PUBKEY=xxx
WG_PRIVKEY=xxx
WG_PRESHARED_KEY=xxx
WG_ALLOWED_IPS=10.8.0.0/24
WG_KEEPALIVE=25

# ---- TRAEFIK ----
TRAEFIK_LOG_LEVEL=INFO
TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASS=admin123
TRAEFIK_BIND_IP=10.8.0.2

# ---- API PORTS (internal)
API1_PORT=8081
API2_PORT=8082
API3_PORT=8083

# ---- MIGRATIONS ----
MIGRATE_ON_START_TEST=1
